<h1>Hello!</h1>

<p>Lorem ipsum dolor amet flexitarian kombucha gentrify waistcoat lomo viral pinterest narwhal marfa. Godard knausgaard mumblecore snackwave. Neutra cardigan franzen, taiyaki cliche banjo freegan slow-carb godard. Paleo lomo four loko jean shorts, whatever health goth fixie poke bitters seitan. Leggings tacos kogi vegan live-edge art party yuccie tote bag glossier vaporware shabby chic tumeric post-ironic. Readymade chillwave polaroid humblebrag. Sartorial deep v trust fund lo-fi, ramps VHS woke coloring book chambray fixie enamel pin mustache.

Artisan williamsburg waistcoat letterpress knausgaard mlkshk jianbing forage. You probably haven't heard of them sartorial tilde quinoa kitsch, paleo succulents brunch vegan. Retro lomo tacos activated charcoal intelligentsia meh pabst affogato listicle art party. Hot chicken ugh scenester paleo pinterest green juice vaporware fingerstache shaman disrupt banh mi. Craft beer cliche raw denim jean shorts. Pok pok cliche pop-up, air plant irony brunch selvage etsy meditation tofu locavore. Disrupt biodiesel dreamcatcher enamel pin fashion axe lomo flannel cardigan adaptogen stumptown 90's bespoke PBR&B tumblr.
</p>

<div class = "link">
<%= link_to 'Get in touch', contact_path, class: "btn btn-warning" %>
</div>
