<h1>RubyStars</h1>
<h5>a <strong>code curious</strong> study group</h5>

<p>You want to learn Ruby? You attended a code curious beginner's workshop and want to continue learning? You are feeling lonely with your online tutorials and want to learn together with peers? You are generally interested in coding and web development? You are a Ruby Developer and want to teach?
</p>

<p> Even if the answer is not 'YES' to all of these questions, we would love to get to know you! We meet every Tuesday in Berlin Mitte and are always happy to welcome new learners and coaches.
</p>

<p> All answers to your questions and your next step in the coding world are just a click away. </p>

<div class = "link">
<%= link_to 'Get in touch', contact_path, class: "btn btn-warning" %>
</div>
